<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header" align="center">{{feedbackDetails.nume}}</h1>
        </div>
    </div>
    <div class="row">
      <h3> Statistică</h3>
      <br>
      <!--<p>Numărul studenților participanți:</p>-->
      <h4>Numărul feedback-urilor completate: {{nrFeedbacks}}</h4>
    </div>
    <div id="chartContainer" style="height: 300px; width: 100%;"></div>

  <div ng-if="isStudent">
    <h3> Acordare calificative</h3>
    <br>
    <!--AICI PUI CALIFICATIVELE-->
      <div class="row" ng-show="completed">
        <span class="label label-warning">Feedback-ul a fost deja completat</span>
      </div>
      <div class="row">
          <div class="col-lg-3 col-lg-offset-1" style = "height: 54px; padding-top: 25px">
            Nota generală
          </div>
          <div class="col-lg-6">
            <rzslider
              rz-slider-model="feedback.notaGenerala"
              rz-slider-options="{disabled: completed, floor: 1, ceil: 10, showTicks: true}">
            </rzslider>
          </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-lg-offset-1" style = "height: 54px; padding-top: 25px">
          Interacțiunea cu studenții
        </div>
        <div class="col-lg-6">
          <rzslider
            rz-slider-model="feedback.interactiune"
            rz-slider-options="{disabled: completed, floor: 1, ceil: 10, showTicks: true}">
          </rzslider>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-lg-offset-1" style = "height: 54px; padding-top: 25px">
          Gradul de înțelegere
        </div>
        <div class="col-lg-6">
          <rzslider
            rz-slider-model="feedback.gradIntelegere"
            rz-slider-options="{disabled: completed, floor: 1, ceil: 10, showTicks: true}">
          </rzslider>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-lg-offset-1" style = "height: 54px; padding-top: 25px">
          Organizare
        </div>
        <div class="col-lg-6">
          <rzslider
            rz-slider-model="feedback.organizare"
            rz-slider-options="{disabled: completed, floor: 1, ceil: 10, showTicks: true}">
          </rzslider>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-lg-offset-1" style = "height: 54px; padding-top: 25px">
          Expunerea activității
        </div>
        <div class="col-lg-6">
          <rzslider
            rz-slider-model="feedback.expunere"
            rz-slider-options="{disabled: completed, floor: 1, ceil: 10, showTicks: true}">
          </rzslider>
        </div>
      </div>
  </div>
    <br/>
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-clock-o fa-fw"></i> Comentarii
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <ul class="timeline">
                <li ng-repeat="comment in comments" class="timeline-inverted success">
                    <div ng-class="comment.userType === 'STUDENT' ? 'timeline-badge success' : 'timeline-badge danger'"><i class="fa fa-graduation-cap"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="row">
                          <div class="timeline-heading col-sm-10">
                              <h4 class="timeline-title">{{comment.nume}}</h4>
                          </div>
                          <div class="col-sm-2 pull-right">
                            <h6 class="timeline-title">{{comment.data | date:'MM/dd/yyyy h:mma'}}</h6>
                          </div>
                        </div>
                        <div class="timeline-body">
                            <p id="comment">{{comment.comentariu}}</p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted success">
                    <div class="timeline-badge info"><i class="fa fa-save"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Adauga comentariu</h4>
                        </div>
                        <div class="row">
                          <div class="col-sm-10 col-sm-offset-1">
                            <textarea ng-model="feedback.comentariu" class="form-control" rows="3"></textarea>
                          </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <!-- /.panel-body -->
    </div>

  <div class="row">
    <div align="center" style="margin-top: 10px">
      <button ng-disabled="checkTrimiteEnabled()" ng-click="saveFeedback()" type="button" class="btn btn-primary">Trimitere</button>
    </div>
  </div>
</div>
