<script>
    Morris.Line({
        element: 'line-example',
        data: [
            { y: 'S 1', a: 40, b: 90, c: 50, d:30},
            { y: 'S 2', a: 75,  b: 65, c: 80, d:80},
            { y: 'S 3', a: 50,  b: 40, c: 90, d:20},
            { y: 'S 4', a: 75,  b: 65, c: 100, d:90},
            { y: 'S 5', a: 50,  b: 40, c: 100, d:10},
            { y: 'S 6', a: 75,  b: 65, c: 80, d:70},
            { y: 'S 7', a: 100, b: 90, c: 10, d:30}
        ],
        xkey: 'y',
        ykeys: ['a', 'b', 'c', 'd'],
        labels: ['Series A', 'Series B'],
        parseTime: false
    });

    Morris.Donut({
        element: 'donut-example',
        data: [
            {label: "SO II", value: 10},
            {label: "CPL", value: 10},
            {label: "PR", value: 20},
            {label: "MPS", value: 40},
            {label: "IOC", value: 20}
        ]
    });
</script>


<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header" align="center">Smart Feedback</h1>
        </div>
    </div>

    <div id="line-example"></div>
    <div id="donut-example"></div>

</div>
