<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>



<script>
//    new Morris.Line({
//        // ID of the element in which to draw the chart.
//        element: 'myfirstchart',
//        // Chart data records -- each entry in this array corresponds to a point on
//        // the chart.
//        data: [
//            { year: '2008', value: 20 },
//            { year: '2009', value: 70 },
//            { year: '2010', value: 5 },
//            { year: '2011', value: 50 },
//            { year: '2012', value: 25 },
//            { year: '2013', value: 40 },
//            { year: '2014', value: 9 },
//            { year: '2015', value: 70 }
//        ],
//        // The name of the data record attribute that contains x-values.
//        xkey: 'year',
//        // A list of names of data record attributes that contain y-values.
//        ykeys: ['value'],
//        // Labels for the ykeys -- will be displayed when you hover over the
//        // chart.
//        labels: ['Value']
//    });

    Morris.Line({
        element: 'line-example',
        data: [
            { y: 'S 1', a: 40, b: 90, c: 50, d:30},
            { y: 'S 2', a: 75,  b: 65, c: 80, d:80},
            { y: 'S 3', a: 50,  b: 40, c: 90, d:20},
            { y: 'S 4', a: 75,  b: 65, c: 100, d:90},
            { y: 'S 5', a: 50,  b: 40, c: 100, d:10},
            { y: 'S 6', a: 75,  b: 65, c: 80, d:70},
            { y: 'S 7', a: 100, b: 90, c: 10, d:30}
        ],
        xkey: 'y',
        ykeys: ['a', 'b', 'c', 'd'],
        labels: ['Series A', 'Series B'],
        parseTime: false
    });

    Morris.Donut({
        element: 'donut-example',
        data: [
            {label: "SO II", value: 10},
            {label: "CPL", value: 10},
            {label: "PR", value: 20},
            {label: "MPS", value: 40},
            {label: "IOC", value: 20}
        ]
    });
</script>


<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header" align="center">Smart Feedback</h1>
        </div>
    </div>

    <!--<div id="myfirstchart" style="height: 250px;"></div>-->

    <div class="container">
          <br>
          <!--<div id="myCarousel" class="carousel slide" data-ride="carousel" style="width: 1000px; height: 400px">-->
              <!--&lt;!&ndash; Indicators &ndash;&gt;-->
              <!--<ol class="carousel-indicators">-->
                  <!--<li data-target="#myCarousel" data-slide-to="0" class="active"></li>-->
                  <!--<li data-target="#myCarousel" data-slide-to="1"></li>-->
                  <!--<li data-target="#myCarousel" data-slide-to="2"></li>-->
              <!--</ol>-->
              <!--&lt;!&ndash; Wrapper for slides &ndash;&gt;-->
              <!--&lt;!&ndash;<div class="carousel-inner" role="listbox">&ndash;&gt;-->
                  <!--&lt;!&ndash;<div class="item active">&ndash;&gt;-->
                      <!--&lt;!&ndash;<img src="../images/vlad.jpg" style="width:300px; height:400px">&ndash;&gt;-->
                  <!--&lt;!&ndash;</div>&ndash;&gt;-->
                  <!--&lt;!&ndash;<div class="item">&ndash;&gt;-->
                      <!--&lt;!&ndash;<img src="../images/madalin.jpg" style="width:500px; height:400px">&ndash;&gt;-->
                  <!--&lt;!&ndash;</div>&ndash;&gt;-->
                  <!--&lt;!&ndash;<div class="item">&ndash;&gt;-->
                      <!--&lt;!&ndash;<img src="../images/george.jpg" style="width:500px; height:400px">&ndash;&gt;-->
                  <!--&lt;!&ndash;</div>&ndash;&gt;-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->
              <!--&lt;!&ndash; Left and right controls &ndash;&gt;-->
              <!--&lt;!&ndash;<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">&ndash;&gt;-->
                  <!--&lt;!&ndash;<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>&ndash;&gt;-->
                  <!--&lt;!&ndash;<span class="sr-only">Previous</span>&ndash;&gt;-->
              <!--&lt;!&ndash;</a>&ndash;&gt;-->
              <!--&lt;!&ndash;<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">&ndash;&gt;-->
                  <!--&lt;!&ndash;<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>&ndash;&gt;-->
                  <!--&lt;!&ndash;<span class="sr-only">Next</span>&ndash;&gt;-->
              <!--&lt;!&ndash;</a>&ndash;&gt;-->
          <!--</div>-->
    </div>


    <div id="line-example"></div>
    <div id="donut-example"></div>

</div>
