<div id="page-wrapper">
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Mesaje
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs">
            <li ng-click="tabClicked(1)" ng-class="getTabClass(1)"><a data-toggle="tab">Inbox</a>
            </li>
            <li ng-click="tabClicked(2)" ng-class="getTabClass(2)"><a data-toggle="tab">Outbox</a>
            </li>
            <li ng-click="tabClicked(3)" ng-class="getTabClass(3)"><a data-toggle="tab">Trimite mesaj</a>
            </li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div ng-class="getTabContentClass(1)" id="inbox">
              <!--<h4>Inbox</h4>-->
              <br/>
              <div class="row">
                <div ng-repeat="inm in inbox" class="well well-sm col-sm-10 col-sm-offset-1">
                  <div class="row">
                    <h4 class="col-sm-8">{{inm.user}}</h4>
                    <h4 class="col-sm-4">{{inm.createdAt | date:'MM/dd/yyyy h:mma'}}</h4>
                  </div>
                  <div class="row">
                    <p class="col-sm-12">{{inm.text}}</p>
                  </div>
                </div>
              </div>
            </div>
            <div ng-class="getTabContentClass(2)" id="outbox">
              <!--<h4>Outbox</h4>-->
              <br/>
              <div class="row">
                <div ng-repeat="inm in outbox" class="well well-sm col-sm-10 col-sm-offset-1">
                  <div class="row">
                    <h4 class="col-sm-8">{{inm.user}}</h4>
                    <h4 class="col-sm-4">{{inm.createdAt | date:'MM/dd/yyyy h:mma'}}</h4>
                  </div>
                  <div class="row">
                    <p class="col-sm-12">{{inm.text}}</p>
                  </div>
                </div>
              </div>
            </div>
            <div ng-class="getTabContentClass(3)" id="sendmessages">
              <br/>
              <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-3">
                  <h4>
                    Selecteaza destinatarul
                  </h4>
                </div>
                <div class="col-sm-4">
                  <select ng-model="message.userId" ng-options = "user.id as user.nume +' '+ user.prenume for user in users" class="form-control">
                  </select>
                </div>
                <div class="col-sm-4"></div>
              </div>
              <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                  <div class="form-group">
                    <label>Message</label>
                    <textarea ng-model="message.message" class="form-control" rows="3"></textarea>
                  </div>
                </div>
              </div>
              <div class="row" ng-show="showSuccess">
                <div class="alert alert-success alert-dismissible col-sm-10 col-sm-offset-1" role="alert">
                  <button ng-click="closeSuccess()" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  Mesajul a fost trimis cu succes.
                </div>
              </div>
              <div class="row">
                <div class="col-sm-10 col-sm-offset-1 ">
                  <button ng-disabled="showSuccess" ng-click="sendMessage()" class="btn btn-primary">Trimite mesajul</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
  </div>
</div>
