<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header" align="center">Cerere activare Feedback pentru {{activityName}}</h1>
    </div>
  </div>
  <div class="container">
    <br>
    <div class="row">
      <div class="col-sm-4">
        <h4>
          Selecteaza saptamana
        </h4>
      </div>
      <div class="col-sm-4">
        <select ng-model="selectedWeek" ng-options="week as week for week in weeks" class="form-control">
        </select>
      </div>
      <div class="col-sm-4">
        <button ng-click="requestFeedback()" class="btn btn-primary">Trimite cerere</button>
      </div>
    </div>
    <div class="row" ng-show="showSuccess">
      <div class="col-sm-10 alert alert-success alert-dismissible" role="alert">
        <button ng-click="closeSuccess()" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        Request-ul a fost trimis cu succes.
      </div>
    </div>
  </div>
</div>
