<div id="page-wrapper">

    <br>
    <label style="font-size: 20px" class="label label-info">Note generale cursuri</label>
    <div style="margin: 50px">
        <div id="bar-example"></div>
    </div>

    <label style="font-size: 20px" class="label label-info">Evolutia numarului de feedback-uri</label>
    <div class="form-group" style="margin: 50px">
        <label>Selectare materie</label>
        <br><br>
        <select id="selectMaterie">
            <option>1</option>
            <option>2</option>
        </select>
    </div>

    <div id="chartLine" style="height: 400px; width: 90%;margin: 50px"></div>

    <!--<div style="margin-top: 50px" class="row">-->
    <label style="font-size: 20px" class="label label-info">Prezenta medie la cursuri</label>
    <div id="chartContainer" style="height: 400px; width: 90%;margin: 50px"></div>
    <!--</div>-->

</div>

<script>
    Morris.Bar({
        element: 'bar-example',
        data: [
            { y: 'SO II', a: 7.2},
            { y: 'CPL', a: 6},
            { y: 'PR', a: 8},
            { y: 'MPS', a: 5},
            { y: 'IOC', a: 9}
        ],
        xkey: 'y',
        parsetime: false,
        ykeys: ['a'],
        ymax: 10,
        labels: ['Nota']
    });
</script>